<h1>Restaurantes</h1>
<!--<a class="btn btn-primary" asp-action="Agregar">Agregar</a>-->

<table class="table table-bordered" id="tabla-restaurantes-contenido">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>Logo</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Página Web</th>
            <th>Fecha Alta</th>
            <th>Hora Cierre</th>
            <th>Empleados</th>
            <th>Mesas</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var restaurante in Model)
            {
            <tr>
                <td hidden>@restaurante.Id</td>
                <td><img src="@restaurante.Logo" width="50" height="50"></td>
                <td>@restaurante.Nombre</td>
                <td>@restaurante.Domicilio</td>
                <td>@restaurante.Telefono</td>
                <td>@restaurante.PaginaWeb</td>
                <td>@restaurante.FechaDeAlta.ToString("dd/MM/yyyy")</td>
                <td>@restaurante.HoraDeCierre:00</td>

                <td><a asp-controller="Empleados" asp-action="Index" asp-route-id="@restaurante.Id">@restaurante.empleados.Count()</a></td>
                <td><a asp-action="Mesas" asp-route-id="@restaurante.Id">@restaurante.mesas.Count()</a></td>
                <td>
                    <a asp-action="Editar" asp-route-id="@restaurante.Id" class="fa fa-pencil"></a>
                    <a asp-action="Eliminar" asp-route-id="@restaurante.Id" class="fa fa-trash"></a>
                    <a href="#" class="fa fa-trash ejecutar-eliminacion" data-id="@restaurante.Id"></a>
                </td>
            </tr>
            }*@
    </tbody>
</table>
@section Scripts{
    <script>

    /*$('a.ejecutar-eliminacion').click(function (event) {
        event.preventDefault();
        //var resId = $(this).attr('data-id');
        var resId = $(this).data('id');
        var IsConfirmed = confirm("Seguro que desea eliminar el restaurante");
        if (IsConfirmed) {
            $.ajax({
                url: 'https://localhost:44317/api/restaurantes/' + resId,
                type: 'DELETE',
                success: function (result) {
                    //alert('Se elimino el restauratnte');
                    //window.location.reload();
                    recargarElementos
                }
            });
        }
    });*/

    //$('#tabla-restaurantes-contenido').on('click','.ejecutar-eliminacion', function (event) {
    //    event.preventDefault();
    //    var id = $(this).attr('data-id');
    //    var id = $(this).data('id');

    //    bootbox.confirm("Seguro que quieres eliminar este elemento?", function (result) {
    //        if (result) {
    //         eliminar elemento
    //            $.ajax({
    //                url: '/api/restaurantes/' + id,
    //                type: 'DELETE',
    //                success: recargarElementos
    //            });
    //        }
    //    });

        /*if (IsConfirmed) {
            // eliminar elemento
            $.ajax({
                url: 'https://localhost:44343/api/restaurantes/' + id,
                type: 'DELETE',
                success: recargarElementos
            });

        }
    });*/

    @*function recargarElementos() {
        // obtener elementos
        $.getJSON('/api/restaurantes/', function (data) {
            var rows;
            data.forEach(function (element) {
                var row = '<tr>'
                    + '<td>' + '<img src="'+element.logo+'" width="50" height="50">' + '</td>'
                    + '<td class="clase">' + element.nombre + '</td>'
                    + '<td>' + element.domicilio + '</td>'
                    + '<td>' + element.telefono + '</td>'
                    + '<td>' + element.paginaWeb + '</td>'
                    + '<td>' + element.fechaDeAlta + '</td>'
                    + '<td>' + element.horaDeCierre + '</td>'
                    + '<td><a href="@Url.Action("Index","Empleados")/Index/"' + element.id + '">' + element.cantidadEmpleados + '</a></td>'
                    + '<td><a href="@Url.Action("Mesas", "Index")/"' + element.id + '">' + element.cantidadMesas + '</a></td>'
                    + '<td><a href="@Url.Action("Editar")/"' + element.id + '">Editar</a>'
                    + '<a href = "#" data-id="' + element.id + '" class="ejecutar-eliminacion" > Eliminar</a ></td > '
                    + '</tr>';
                rows += row;
            });
            $('#tabla-restaurantes').html(rows);
        });
    }*@


    $(document).ready( function () {
        var table = $('#tabla-restaurantes-contenido').DataTable({
            ajax: {
                url: 'api/restaurantes',
                dataSrc : ''
            },
            columns: [
                { data: 'id', visible: false },
                {
                    data: 'logo',
                    render: function (data, type, row) {
                        return '<img src="' + data + '"width="50" height="50">';
                    }
                },
                {data:'nombre'},
                {data:'domicilio'},
                {data:'telefono'},
                {data:'paginaWeb' },
                {data:'fechaDeAlta' },
                {data: 'horaDeCierre'},
                {
                    data: 'cantidadEmpleados',
                    render: function (data, type, row) {
                        return '<a href="@Url.Action("Index","Empleados")/Index/' + row.id + '">' + data + '</a>';
                    }
                },
                {
                    data: 'cantidadMesas',
                    render: function (data, type, row) {
                        return '<a href="@Url.Action("Mesas")/' + row.id + '">' + data + '</a>';
                    }
                },
                {
                    data: '',
                    render: function (data, type, row) {
                        return '<a class="fa fa-pencil" href="@Url.Action("Editar")/' + row.id + '"></a>'
                    }
                }

            ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Agregar',
                    action: function () {
                       window.location="@Url.Action("Agregar")";
                    }
                },
                {
                    text: 'Eliminar',
                    action: function () {
                        bootbox.confirm("Seguro que quieres eliminar este elemento?", function (result) {
                            if (result) {
                                var rows = table.rows({ selected: true }).data();
                                console.log(rows);
                                var ids = [];
                                for (var x = 0; x < rows.length; ++x) {
                                    ids.push(rows[x].id);
                                }

                                $.ajax({
                                    type: 'DELETE',
                                    contentType: 'application/json',
                                    data: '[' + ids.toString() + ']',
                                    url: '/api/restaurantes/',
                                    success: function () {
                                        table.ajax.reload(null, false);
                                    }
                                });
                            }
                        });
                    }
                },
                
                'copy','excel','pdf'
            ]
        });

        //table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.table().container()));

    });

    </script>
}

