@model List<Restaurante>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Restaurantes</h1>
<a class="btn btn-primary" asp-action="Agregar">Agregar</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Página Web</th>
            <th>Fecha Alta</th>
            <th>Hora Cierre</th>
            <th>Empleados</th>
            <th>Mesas</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurante in Model)
        {
        <tr>
            <td><img src="@restaurante.Logo" width="50" height="50"></td>
            <td>@restaurante.Nombre</td>
            <td>@restaurante.Domicilio</td>
            <td>@restaurante.Telefono</td>
            <td>@restaurante.PaginaWeb</td>
            <td>@restaurante.FechaDeAlta.ToString("dd/MM/yyyy")</td>
            <td>@restaurante.HoraDeCierre:00</td>
            
            <td><a asp-controller="Empleados" asp-action="Index" asp-route-id="@restaurante.Id">@restaurante.empleados.Count()</a></td>
            <td><a asp-action="Mesas" asp-route-id="@restaurante.Id">@restaurante.mesas.Count()</a></td>
            <td>
                <a asp-action="Editar" asp-route-id="@restaurante.Id" class="fa fa-pencil"></a>
                <a asp-action="Eliminar" asp-route-id="@restaurante.Id" class="fa fa-trash"></a>
            </td>
        </tr>          
        }
    </tbody>
</table>

