@model List<Mesa>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Mesas</h1>

<a class="btn btn-primary" asp-action="AgregarMesa" asp-route-id="@ViewData["resId"]">Agregar</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Identificador</th>
            <th>Capacidad</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mesa in Model)
        {
        <tr>
            <td>@mesa.Identificador</td>
            <td>@mesa.Capacidad</td>
            <td>
                <a asp-action="EditarMesa" asp-route-id="@mesa.Id" asp-route-resId="@ViewData["resId"]">Editar</a>
                <a asp-action="EliminarMesa" asp-route-id="@mesa.Id" asp-route-resId="@ViewData["resId"]">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

