@model RestauranteDTO
@{
    ViewData["Title"] = "Perfil";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="@Model.Logo" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h1>
                            @Model.Nombre
                        </h1>
                        <small>
                            <cite title="Tijuana, MX">
                                <h4 class="glyphicon glyphicon-map-marker">@Model.Domicilio</h4>
                            </cite>
                        </small>
                        <p>
                            <h4 class="glyphicon glyphicon-tasks">Mesas: @Model.CantidadMesas</h4>
                            <br />
                            <h4 class="glyphicon glyphicon-user">Empleados: @Model.CantidadEmpleados</h4>
                            <br />
                            <h4 class="glyphicon glyphicon-cutlery">Productos: @Model.CantidadProductos</h4>
                            <br />
                            <h4 class="glyphicon glyphicon-time">Horario: 08:00 - @Model.HoraDeCierre:00</h4>
                            <br />
                            <h4 class="glyphicon glyphicon-globe">@Model.PaginaWeb</h4>
                            <br />
                            <h4 class="glyphicon glyphicon-calendar">@Model.FechaDeAlta</h4>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
}