@model List<Mesa>


<h1>Listado de Mesas </h1>

<div class="table-responsive">
    <table class="table" id="tabla-contenido">
        <thead>
            <tr>
                <th>ID </th>
                <th>Identificador </th>
                <th>Capacidad </th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="modal modal-primary fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="agregarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="agregarModalLabel">Nuevo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcuerpo"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary " id="btnGuardarModal">Guardar</button>

            </div>
        </div>
    </div>
</div>


<div class="modal modal-success fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="editarModalLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="modaleditarcuerpo">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnEditarModal">Editar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        // Globals
        let table;

         window.onload = function () {
            document.getElementById("btnGuardarModal").addEventListener("click", function () { Guardar(); })
            document.getElementById("btnEditarModal").addEventListener("click", function () { Editar(); })
        }

        // Lipiar campos del modal
         function LimpiarModales() {
            const bodies = document.querySelectorAll("modal-body");
            for (i = 0; i < bodies.length; i++) { bodies[i].innerHTML = ""; }
        }


         // Editar Modal
        function MostrarEditar(id) {


            fetch("@Url.Action("EditarMesa","Mesa")/" + id, {
                method: "GET"
            }).then(function (response) {
                if (response.ok) {
                    response.text().then(function (text) {
                        LimpiarModales();
                        document.querySelector("#modaleditarcuerpo").innerHTML = text;
                        $("#editarModal").modal("show");

                    })
                }
            });

        }

        // Abrir Modal
        function ModalAbrir() {
            fetch("@Url.Action("AgregarMesa", "Mesa")", {
                method: "GET"
            }).then(function (response) {
                if (response.ok) {
                    response.text().then(function (text) {
                        LimpiarModales();
                        document.querySelector("#modalcuerpo").innerHTML = text;
                        $("#agregarModal").modal("show");
                    })
                }
            });
        }

        // Editar Data
        function Editar() {
            const data = {};

            data["Identificador"] = $("#Identificador").value;
            data["Capacidad"] = $("#Capacidad").value;
            data["Id"] = @ViewData["Id"];

            fetch("/api/mesa", {
                method: "PUT",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            }).then(function (response) {
                if (response.ok) {
                    table.ajax.reload(Callback);
                    $("#editarModal").modal("hide");
                }
            });
        }

        // Editar Data
        function Guardar() {
            const data = {};
            data["Identificador"] = document.querySelector("#Identificador").value;
            data["Capacidad"] = document.querySelector("#Capacidad").value;
            data["RestauranteId"] = '@ViewData["Id"]';
            var js =JSON.stringify(data)
            fetch("/api/mesa", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body:  js
            }).then(function (response) {
                if (response.ok) {
                    table.ajax.reload(Callback);
                    $("#agregarModal").modal("hide");
                }
            });
        }

        function Callback() {
            const buttons = document.querySelectorAll(".editar-modelo");
            for (i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function () {
                    MostrarEditar(this.dataset.id);
                });
            }
        };

    $(document).ready( function () {
        var table = $('#tabla-contenido').DataTable({
            ajax: {
                url:'/API/mesa/' + @ViewData["Id"],
                dataSrc : ''

            },
            columns: [
                {data: 'id'},
                {data: 'identificador'},
                {data: 'capacidad'},
                {
                    render: (data, type, row) => {
                        return '<a class="btn btn-info" href="@Url.Action("EditarMesa")/' + row.id + '">Editar</a>'
                    }
                }
            ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                  {
                        text: 'Nuevo',
                        action: function () {
                        ModalAbrir();
                        }
                    },
                'copy', 'excel', 'pdf',
                {
                    text: 'Eliminar',
                    action: function () {

                        var rows = table.rows({ selected: true }).data();
                        var ids = [];
                        for (var x = 0; x < rows.length; x++) {
                            ids.push(rows[x].id)
                        }
                        //
                         bootbox.confirm("Deseas eliminar este elemento?", function (IsConfirmed) {
                             if (IsConfirmed) {
                                 // eliminar elemento
                                  $.ajax({
                                        contentType: 'application/json',
                                        url: '/api/mesa/',

                                        data: '[' + ids.toString() + ']',
                                     type: 'DELETE',
                                        success: () => {
                                            table.ajax.reload();
                                        }
                                    });
                            }
                        });
                        

                        console.log(ids);
                    }
                }
            ]
        });
    } );
    </script>
}
