@using RestauranteEntity
@using RestauranteBLL
@using Humanizer
@{
    var Clientes = new List<Cliente>();
    var message = "";
    var filtro = ""; 
    try
    {
        Page.Title = "Listado de Clientes";
        Layout = "~/_SiteLayout.cshtml";
        Clientes = ClienteBL.ObtenerTodos().ToList();
        if (IsPost)
        {
            filtro = Request.Form["filtro"];
            Clientes = Clientes.Where(c => c.Nombre.ToLower().Contains(filtro.ToLower())).ToList();
        }
    }
    catch (Exception err)
    {
        message = err.Message;
    }
} 
<a href="~/Cliente/Nuevo">AGREGAR +</a>
<div>
    <form method="post">
        <input type="text" name="filtro" value="@filtro"/>
        <button type="submit">BUSCAR</button>
    </form>
    @if (!string.IsNullOrEmpty(message))
    {
        <label style="color:red" >@message</label>
    }
    else
    {
        <label >Mostrando @Clientes.Count Clientes</label>
    <table>
        <thead>
            <tr> 
                <td>Nombre</td>
                <td>Email</td>
                <td>Dirección fiscal</td>
                <td>Razón social</td>
                <td>RFC</td>
                <td>Teléfono</td> 
            </tr>
        </thead>
        <tbody>

            @foreach (var r in Clientes)
            { 
            <tr>
                <td>@r.Nombre</td>
                <td>@r.Email</td>
                <td>@r.DireccionFiscal</td>
                <td>@r.RazonSocial</td>
                <td>@r.Rfc</td>
                <td>@r.Telefono</td> 
                <td>
                    <a href="~/Cliente/Nuevo?id=@r.Id">Editar</a>
                    <a href="~/Cliente/eliminar?id=@r.Id">Eliminar</a>
                </td>

            </tr>
            }

        </tbody>
    </table>
    }
</div>