@model List<Empleado>

<h1>Empleados</h1>
<a onclick="MostrarAgregar()" class="btn btn-outline-primary">Agregar</a>
<a class="btn btn-primary" asp-controller="Empleado" asp-action="AgregarEmpleado" asp-route-id="@ViewData["restauranteId"]">Agregar Empleado</a>
<table class="table table-bordered" id="tablaempleados">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Puesto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var empleado in Model)
        {
            <tr>
                <td>@empleado.Nombre</td>
                <td>@empleado.Puesto</td>
                <td><a asp-action="EditarEmpleado" asp-route-id="@empleado.Id">Editar</a></td>
                <td>
                    <form asp-action="EliminarEmpleado">
                        <button type="submit" name="Id" value="@empleado.Id" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }*@
    </tbody>
</table>

<div class="modal" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalCuerpo">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GuardarEmpleado()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var restauranteid = @ViewData["RestauranteId"];
         function MostrarAgregar() {
             var req = new XMLHttpRequest();
             req.open("GET", "@Url.Action("AgregarEmpleado","Empleado")/" + restauranteid, true);
            req.send();
            req.onreadystatechange = function () {
                if (req.status == 200) {
                    document.getElementById("modalCuerpo").innerHTML = req.responseText;
                    $("#agregarModal").modal("show");
                }
            }
           

        }
        function GuardarEmpleado() {
            var Nombre = document.getElementById("Nombre").value;
            var Puesto = document.getElementById("Puesto").value;
            
            
            
            var fd = {};
            fd["Nombre"] = Nombre;
            fd["Puesto"] = Puesto;
            fd["RestauranteId"] = restauranteid;
            
            

            fetch("/api/empleados/", {
                method: "POST",
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(fd)
            }).then(function (response) {
            if (response.ok) {
                $("#agregarModal").modal("hide");
                table.ajax.reload();
            }

        });
            
        }
        var table;
        $(document).ready(function () {
            table = $('#tablaempleados').DataTable({
                ajax: {
                    url: '/api/Empleados/@ViewData["RestauranteId"]',
                    dataSrc: '',
                },
                columns: [
                    { data: 'id' },
                    { data: 'nombre' },
                    { data: 'puesto' },

                    {
                        render: function (data, type, row) {
                            return '<a class="btn btn-outline-dark" href="@Url.Action("EditarEmpleado")/' + row.id + '">Editar</a>'
                        },
                    },

                ],

            });          

        });

      
    </script>
}


