@model List<Restaurante>

<h1>Restaurantes</h1>

<a class="btn btn-outline-primary" onclick="MostrarAgregar()" <!--asp-action="Agregar"--> Agregar restaurante</a>

<table class="table table-bordered" id="tabla-restaurantes-contenido">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Domicilio</th>
            <th>Teléfono</th>
            <th>Mesas</th>
            <th>Empleados</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      @*  @foreach (var restaurante in Model)
        {
        <tr>
            <td>@restaurante.Id</td>
            <td>@restaurante.Nombre</td>
            <td>@restaurante.Domicilio</td>
            <td>@restaurante.Telefono</td>
            <td><a asp-action="Mesas" asp-route-id="@restaurante.Id">@restaurante.Mesas.Count</a></td>
            <td><a asp-action="Editar" asp-route-id="@restaurante.Id">Editar</a>
            <a href="#" class="ejecutar-eliminacion" data-id="@restaurante.Id">Eliminar</a></td>
            <td><a asp-action="Eliminar" asp-route-id="@restaurante.Id">Eliminar</a></td>
        </tr>
        }*@
    </tbody>
</table>

<!-- Modal Agregar-->
<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalCuerpo">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarRestaurante()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar-->
<div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalEditarCuerpo">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="btnEditarModal">Guardar</button>
      </div>
    </div>
  </div>
</div>


@section Scripts{
<script>
    window.onload = function () {
        document.getElementById("btnEditarModal").addEventListener("click", function () {
            EditarRestaurante();
        })
    }

    function EditarRestaurante() {

        var Nombre = document.getElementById("Nombre").value;
        var Direccion = document.getElementById("Direccion").value;
        var Telefono = document.getElementById("Telefono").value;
        var PaginaWeb = document.getElementById("PaginaWeb").value;
        var HoraDeCierre = document.getElementById("HoraDeCierre").value;
        var Id = document.getElementById("Id").value;

        var fd = {};

        fd["Nombre"] = Nombre;
        fd["Direccion"] = Direccion;
        fd["Telefono"] = Telefono;
        fd["PaginaWeb"] = PaginaWeb;
        fd["HoraDeCierre"] = HoraDeCierre;
        fd["Id"] = Id;


        fetch("/Api/Restaurantes/", {
            method: "PUT",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(fd)
         }).then(function (response) {
            if (response.ok) {
                $("#editarModal").modal("hide");
                table.ajax.reload(AddListeners);
            }
        });

    }

    function MostrarEditar(id) {

       fetch(`@Url.Action("Editar","Home")/${id}`, {
            method: "GET"
         }).then(function (response) {
            if (response.ok) {
                response.text().then(function (text) {
                    LimpiarModales()
                    document.getElementById("modalEditarCuerpo").innerHTML = text;
                    $("#editarModal").modal("show");//JQUERY

                })
            }
        });
    }


    function AddListeners() {
        var buttons = document.getElementsByClassName("editar-restaurante");
        for (i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", function(){
                MostrarEditar(this.dataset.id);
            })
        }
    }

    function LimpiarModales() {
        var bodies = document.getElementsByClassName("modal-body");
        for (i = 0; i < bodies.length; i++) {
            bodies[i].innerHTML = "";
        }
    }


    function MostrarAgregar() {
        var req = new XMLHttpRequest();
        req.open("GET", "@Url.Action("Agregar", "Home")", true);
        req.send();

        req.onreadystatechange = function () {
            if (req.status == 200) {
                document.getElementById("modalCuerpo").innerHTML = req.responseText;
                $("#agregarModal").modal("show");
            }
        }
        
    }

    function GuardarRestaurante() {
        var Nombre = document.getElementById("Nombre").value;
        var Direccion = document.getElementById("Direccion").value;
        var Telefono = document.getElementById("Telefono").value;
        var HoraDeCierre = document.getElementById("HoraDeCierre").value;
        var PaginaWeb = document.getElementById("PaginaWeb").value;

        var fd = {};

        fd["Nombre"] = Nombre;
        fd["Direccion"] = Direccion;
        fd["Telefono"] = Telefono;
        fd["HoraDeCierre"] = HoraDeCierre;
        fd["PaginaWeb"] = PaginaWeb;

        fetch("API/Restaurantes/", {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify(fd)
        }).then(function(response){
            if (response.ok) {
                $("#agregarModal").modal("hide");
                table.ajax.reload(AddListeners);
            }
        });

    }
</script>


<script>
    @*
    $('#tabla-restaurantes-contenido').on('click','.ejecutar-eliminacion', function (event) {
        event.preventDefault();
        var id = $(this).data('id');

        bootbox.confirm("¿Seguro que quieres eliminar este elemento?", function(IsConfirmed){
            if (IsConfirmed) {
                // eliminar elemento
                $.ajax({
                    url: '/api/restaurantes/' + id,
                    type: 'DELETE',
                    success: recargarElementos
                });
            }
        });
    });

    function recargarElementos() {
        // obtener elementos
        $.getJSON('/api/restaurantes/', function (data) {
            var rows;
            data.forEach(function (element) {
                var row = '<tr>'
                + '<td class="clase">' + element.NombreRestaurante + '</td>'
                + '<td>' + element.direccion + '</td>'
                + '<td>' + element.telefono + '</td>'
                + '<td><a href="@Url.Action("Mesas", "Index")/"' + element.id + '">' + element.cantidadMesas + '</a></td>'
                + '<td><a href="@Url.Action("Editar")/"' + element.id + '">Editar</a>'
                + '<a href="#" data-id="' + element.id + '" class="ejecutar-eliminacion">Eliminar</a></td>'
                + '</tr>';
                rows += row;
            });
            $('#tabla-restaurantes-contenido').html(rows);
        });
    }
        *@
    var table;
    $(document).ready( function () {
        table = $('#tabla-restaurantes-contenido').DataTable({
            "initComplete": function () {
                 AddListeners();
            },
            ajax: {
                url: '/api/restaurantes',
                dataSrc: '',

            },
            columns:[
                {data: 'id'},
                {
                    data: 'nombre',
                    render: function (data, type, row) {
                        return '<a href="@Url.Action("Perfil")/' + row.id + '">' + data + '</a>'
                    }
                },
                {data: 'domicilio'},
                {data: 'telefono'},
                {
                    data: 'mesas',
                    render: function(data,type,row){
                        return '<a href="@Url.Action("Mesas")/' + row.id + '">' + data + '</a>'
                    }
                },
                {
                    data: 'empleados',
                    render: function(data,type,row){
                        return '<a href="@Url.Action("Index","Empleados")/Index/' + row.id + '">' + data + '</a>'
                    }
                },
                {
                    data: '',
                    render: function(data,type,row){
                        return `<a class="btn btn-outline-primary editar-restaurante" data-id="${row.id}">Editar</a>`
                    }
                }
            ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                'copy','excel', 'pdf',
                {
                    text: 'Eliminar',
                    action: function(){

                        bootbox.confirm("¿Seguro que quieres eliminar estos elementos?", function(IsConfirmed){
                            if (IsConfirmed) {
                                var rows = table.rows( { selected: true } ).data();

                                var ids = [];
                                for(var x = 0; x < rows.length; x++){
                                    ids.push(rows[x].id);
                                }

                                $.ajax({
                                    url: '/api/restaurantes',
                                    data: '[' + ids.toString() + ']',
                                    contentType: 'application/json',
                                    type: 'DELETE',
                                    success: function(){
                                        table.ajax.reload(AddListeners);
                                    }
                                });
                            }
                        });
                    }
                }
            ]
        });
       @*
       table.buttons().container()
       .appendTo( $('.col-sm-6:eq(0)', table.table().container() ) );
        *@
    } );
</script>
}