@model List<Mesa>


<h1>Mesas de @*@Model.FirstOrDefault().Restaurante.Nombre*@</h1>
<a asp-action="AgregarMesa" asp-route-id="@ViewData["resId"]" class="btn btn-outline-primary">Agregar Mesa +</a>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Identificador </th>
            <th> Capacidad </th>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td> @m.Identificador </td>
            <td> @m.Capacidad</td>
            <td><a asp-action="EditarMesa" asp-route-id="@m.Id" class="btn btn-warning">Editar</a></td>
            <td>
                <form asp-action="EliminarMesa">
                    <button name="Id" value="@m.Id" type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>