@model Restaurante
<a class="btn btn-outline-primary" href="@Url.Action("Index","Ordenes")/Index/?id=@Model.Id&ordenId=">Orden</a>
<h1>Restaurante @Model.Nombre</h1> 
<h6>@Model.Domicilio</h6>

<hr>
<label>Hora de cierre: @Model.HoraDeCierre</label>
<h6><b>CONTACTO</b></h6>
<label>@Model.PaginaWeb</label>
<br />
<label>@Model.Telefono</label>
<hr>

<div class="row">
    <div class="col-sm">
        <h5>Menú</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Descripción</td>
                        <td>Precio</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Productos)
                     {
                        <tr>
                            <td>@p.Nombre</td>
                            <td>@p.Descripcion</td>
                            <td>@p.Precio</td>
                        </tr>
                     }

                </tbody>
            </table>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <h5>Mesas</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Identificador</td>
                    <td>Capacidad</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.Mesas)
                {
                    <tr>
                        <td>@m.Identificador</td>
                        <td>@m.Capacidad</td>
                    </tr>
                 }

            </tbody>
        </table>
    </div>
    <div class="col-sm">
        <h5>Empleados</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Puesto</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Empleados)
                {
                    <tr>
                        <td>@e.Nombre</td>
                        <td>@e.Puesto</td>
                    </tr>
                 }

            </tbody>
        </table>
    </div>


</div>