@model Restaurante
<a class="btn btn-outline-primary" href="@Url.Action("Index","Ordenes")/Index/?id=@Model.Id&ordenId=">Nueva orden</a>

<div class="jumbotron" style="background-color:#fafafa">
  <h1 class="display-3">Restaurante @Model.Nombre</h1>
  <p class="lead">@Model.Domicilio</p>
  <hr class="my-4">
  <label>Hora de cierre: @Model.HoraDeCierre</label>
    <h6><b>CONTACTO</b></h6>
    <label>@Model.PaginaWeb</label>
    <br />
    <label>@Model.Telefono</label>
</div>


<div class="row">
    <div class="col-sm">
        <h4>Menú</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td><b>Nombre</b></td>
                        <td><b>Descripción</b></td>
                        <td><b>Precio</b></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Productos)
                     {
                        <tr>
                            <td>@p.Nombre</td>
                            <td>@p.Descripcion</td>
                            <td>@p.Precio</td>
                        </tr>
                     }

                </tbody>
            </table>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <h4>Mesas</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td><b>Identificador</b></td>
                    <td><b>Capacidad</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.Mesas)
                {
                    <tr>
                        <td>@m.Identificador</td>
                        <td>@m.Capacidad</td>
                    </tr>
                 }

            </tbody>
        </table>
    </div>
    <div class="col-sm">
        <h4>Empleados</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td><b>Nombre</b></td>
                    <td><b>Puesto</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Empleados)
                {
                    <tr>
                        <td>@e.Nombre</td>
                        <td>@e.Puesto</td>
                    </tr>
                 }

            </tbody>
        </table>
    </div>


</div>