@model List<Producto>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Productos</h1>
<!--<a class="btn btn-primary" asp-action="Agregar" asp-route-id="@ViewData["resId"]">Agregar</a>-->
<table class="table table-bordered" id="tabla-productos-contenido">
    <thead>
        <tr>
            <th>ID</th>
            <th>IDRestaurante</th>
            <th>Nombre</th>
            <th>Ingredientes</th>
            <th>Precio</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var empleado in Model)
            {
                <tr>
                    <td>@empleado.Nombre</td>
                    <td>@empleado.Puesto</td>
                    <td>
                        <a asp-action="EditarEmpleado" asp-route-id="@empleado.Id" asp-route-resId="@ViewData["resId"]" class="fa fa-pencil"></a>
                        <a asp-action="EliminarEmpleado" asp-route-id="@empleado.Id" asp-route-resId="@ViewData["resId"]" class="fa fa-trash"></a>
                    </td>
                </tr>

            }*@
    </tbody>
</table>



<div class="modal fade" tabindex="-1" role="dialog" id="agregarModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalCuerpo">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardarProductos">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>

        function LimpiarModales() {
            var bodies = document.getElementsByClassName("modal-body");
            for (i = 0; i < bodies.length; ++i) {
                bodies[i].innerHTML = "";
            }
        }

        window.onload = function () {
            document.getElementById("btnGuardarProductos").addEventListener("click", function () {
                GuardarProductos()
            });
        };


        function ModalAgregarEditar(id) {
            var url;
            if (id == 0) {
                document.getElementById("exampleModalLabel").innerHTML = "Agregar".bold()
                url = "@Url.Action("Agregar","Productos")";
            } else {
                document.getElementById("exampleModalLabel").innerHTML = "Editar".bold()
                url = "@Url.Action("EditarProducto","Productos")/" + id;
            }
            @*var req = new XMLHttpRequest();
            req.open("GET", "@Url.Action("Agregar","Empleados")", true);
            req.send();
            req.onreadystatechange = function () {
                if (req.status == 200) {
                    document.getElementById("modalCuerpo").innerHTML = req.responseText;
                    $("#agregarModal").modal("show");
                }
            };*@
            fetch(url, {
                    method: "GET"
                 }).then(function (response) {
                    if (response.ok) {
                        response.text().then(function (text) {
                            LimpiarModales()
                            document.getElementById("modalCuerpo").innerHTML = text;
                            $("#agregarModal").modal("show");
                        })
                    }
            });
        }

        function GuardarProductos() {
            var id = document.getElementById("Id").value;
            var nombre = document.getElementById("Nombre").value;
            var ingredientes = document.getElementById("Ingredientes").value;
            var precio = document.getElementById("Precio").value;
            var url;
            var method;

             //Se obtiene el id del restaurante de la URL
             var actual = window.location+'';
             var split = actual.split("/");
             var resIid = split[split.length-1];

            var fd = {};
            fd["Nombre"] = nombre;
            fd["Ingredientes"] = ingredientes;
            fd["Precio"] = precio;
            fd["RestauranteId"] = resIid;

            if (id == 0) {
                url = "/api/productos";
                method = "POST";
            } else {
                url = "/api/productos/" + id;
                method = "PUT";
            }

            fetch(url, {
                method: method,
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(fd)
            }).then(function (response) {
                if (response.ok) {
                    $("#agregarModal").modal("hide");
                    table.ajax.reload(myCallBack);
                }
            });
        }
    </script>



    <script>

        var myCallBack = function () {
             var buttons = document.getElementsByClassName("fa fa-pencil");
                for (i = 0; i < buttons.length; ++i) {
                    buttons[i].addEventListener("click", function () {
                        ModalAgregarEditar(this.dataset.id);
                    })
                }
        }

        var table;
    $(document).ready( function () {
        table = $('#tabla-productos-contenido').DataTable({
            initComplete: myCallBack,
            ajax: {
                url: '/api/productos/'+@ViewData["resId"],
                dataSrc : ''
            },
            columns: [
                { data: 'id', visible: false },
                { data: 'restauranteId', visible: false },
                {data:'nombre'},
                { data: 'ingredientes' },
                { data: 'precio' },
                {
                    data: '',
                    render: function (data, type, row) {
                        //return '<a class="fa fa-pencil" href="@Url.Action("EditarProducto","Productos")/' + row.id + '"></a>'
                        //return '<a class="fa fa-pencil" onclick="ModalAgregarEditar(' + row.id + ')"></a>'
                        return '<a title="Editar" class="fa fa-pencil" data-id="' + row.id + '"></a>'
                    }
                }
            ],
            select: true,
            dom: 'Bfrtip',
            buttons: [
                {
                    text: 'Agregar',
                    action: function () {
                        ModalAgregarEditar(0);
                       //window.location="@Url.Action("Agregar")/@ViewData["resId"]";
                    }
                },
                {
                    text: 'Eliminar',
                    action: function () {
                        bootbox.confirm("Seguro que quieres eliminar este elemento?", function (result) {
                            if (result) {
                                var rows = table.rows({ selected: true }).data();
                                var ids = [];
                                for (var x = 0; x < rows.length; ++x) {
                                    ids.push(rows[x].id);
                                }

                                fetch('/api/productos/' + ids, {
                                    method: "DELETE",
                                        headers: {
                                            'Content-Type': 'application/json'
                                        }
                                    }).then(function (response) {
                                        if (response.ok) {
                                            table.ajax.reload(myCallBack);
                                        }
                                    });

                                @*$.ajax({
                                    type: 'DELETE',
                                    contentType: 'application/json',
                                    data: '[' + ids.toString() + ']',
                                    url: '/api/empleados',
                                    success: function () {
                                        table.ajax.reload(null, false);
                                    }
                                });*@
                            }
                        });
                    }
                },

                'copy','excel','pdf'
            ]
        });

    });

    </script>
}
