@model OrdenNuevaViewModel
@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-outline-primary" href="@Url.Action("Ordenes","Ordenes")/@Model.RestauranteId">Órdenes</a>
<a class="btn btn-outline-primary" href="@Url.Action("Index","Ordenes")/Index/?id=@Model.RestauranteId&ordenId=">Nueva</a>
<a class="btn btn-outline-danger" href="@Url.Action("Ordenes","Ordenes")/@Model.RestauranteId" id="btn-cerrar">Cerrar orden</a>
<p></p>

<div class="row">
    <div class="col-sm-6">
        <div class="row" id="Productos">
            
        </div>

    </div>
    <div class="col-sm-6">
        <h3>Resumen</h3>
        <table class="table">
            <thead>
                <tr>
                    <td>Producto</td>
                    <td>Cantidad</td>
                    <td>Precio</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <h5>TOTAL <b id="lbl-total">0</b></h5>
    </div>
</div>

<div class="modal fade" id="cantidadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalCuerpo">
        <label>Cantidad</label>
          <input type="number" id="txt-cantidad"/>
          <input type="hidden" id="txt-id" value=""/>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="btn-agregar-producto">Agregar</button>
      </div>
    </div>
  </div>
</div>



<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    var ordenId = 0;
    if(@Model.OrdenId > 0){
        ordenId = @Model.OrdenId;
    }

    $(document).on('click', '.prod-card', function(){
        var producto = $(this).find('.card-id').val();
        $('#txt-id').val(producto);
        $("#cantidadModal").modal("show");
    });

   
    $('#btn-agregar-producto').click(function () {
        var producto = $('#txt-id').val();
        var cantidad = $('#txt-cantidad').val();

        if (ordenId == 0) {
            $.post('/api/ordenes/',{id: '@Model.RestauranteId'}, function(res){
                var resId = parseInt(res,10);
                ordenId = resId;
                putOrden(ordenId, producto, cantidad);
            });
        }else{
            putOrden(ordenId,producto,cantidad); 
        }

    })

    $('#btn-cerrar').click(function(){
        if(ordenId > 0){
            $.get('/api/ordenes/cerrarorden',{id: ordenId},function(){  
            })
        }
    })

    $(document).ready(function () {
        var template;
        $.get("@Url.Action("ProductoCard","Ordenes")", function (res) {
            template = res;
        })

        $.getJSON("/api/productos/@Model.RestauranteId", function (prod) {
            $.map(prod, function (p, val) {
                var element = $(template);
                element.find('.card-title').text(p.nombre);
                element.find('.card-text').text(p.precio);
                element.find('.card-id').val(p.id);
                element.find('.card-nombre').val(p.nombre);
                element.find('.card-precio').val(p.precio);
                $("#Productos").append(element);
            })
        })
        if(ordenId > 0){
            getTable(ordenId); 
        }
    })

    function putOrden(ordenId, producto, cantidad){
        $.post('/api/ordenes/PutOrdenTieneProducto/',{OrdenId: ordenId, ProductoId: producto, Cantidad: cantidad}, function(){
            $('tbody').html('');
            getTable(ordenId);
            $("#cantidadModal").modal("hide");
        });
    }

    var tr = "<tr> <td class='td-producto'>Producto</td><td class='td-cantidad'>Cantidad</td><td class='td-precio'>Precio</td> </tr>";
    function getTable(ordenId){

        $.getJSON("/api/ordenes/getordentieneproducto",{id: ordenId}, function(ordprod){
            $.map(ordprod, function (op, val){
                var trNew = $(tr);
                var cantidadTable = op.cantidad;
                trNew.find('.td-cantidad').text(cantidadTable);
                $.getJSON("/api/productos/getproducto",{id: op.productoId}, function(prod){
                    var nombreTable = prod.nombre;
                    var precioTable = prod.precio;
                    trNew.find('.td-producto').text(nombreTable);
                    trNew.find('.td-precio').text(precioTable);
                    $('tbody').append(trNew);
                        
                })
                

            })})
        $.getJSON("/api/ordenes/getorden",{id: ordenId}, function(ord){
            var totalTable = ord.total;
            $('#lbl-total').text(totalTable);
        })
        
    }


</script>
